div.flist {

  > div {
    display: flex;

    flex-flow: row nowrap;

    > * {
      margin: .6rem;
      padding: .8rem 2rem;
      background-color: lightgrey;
      box-shadow: 0 0 4px lightgrey;
      border-radius: .5rem;
    }
  }
  
}
